.summary-listing-photo .image-float-left {
	margin-top:3px !important;
}

.summary-listing-photo ul {
	padding-left:230px;
}

.bean-editorial-listing-with-photo-3-c .block-content-item {
	border:0px !important;
}

.summary-listing-photo-3col .photo-container {
	float:left;
}

.summary-listing-photo-3col ul {
	padding-left:500px;
}

/* Customisations for collaboration group blocks */
.node-type-group-collaboration .user-content-blocks .col-3 {
	width:679px;
}

.node-type-group-collaboration #group-description {
	border-bottom:2px #E6A616 solid;
	border-top:1px #E6A616 solid;
	padding:5px 0 5px 0;
	margin-bottom:10px;
}

#block-views-e-discussions-block li {
	margin-left: 20px;
	text-indent: -14px;
}

