/* Hide page until all elements loaded */
body {
	visibility:hidden;
}

/* Global Text Styles */

h1, h2, h3, h4, h5 {
	font-weight:200;
}

h1 {
	font-size:2em;
	font-weight:400;
}

h2 {
	font-size:1.33em;
}

h3 {
	font-size:1.2em;
	color:#DC7641;
}

p {
	text-align:left;
}

p + p { /* Gap between paragraphs */
	margin-top:10px;
}

p + h2, ol + h2, ul + h2 {
	margin-top:20px;
}

p + ol, p + ul {
	margin-top:10px;
}

p + a {
	
}

p + h3 {
	margin-top:10px;
}

a + p {
	margin-top:10px;
}

ol, ul {
	list-style-position:inside;
}

li {
	/* font-size:0.9em; */
}

li p {
	/* do not scale font size twice if p is child of li */
	/* font-size:1em; */
}

.subscription-link .ajax-progress-throbber {
	display:none;
}

.underline {
	border-bottom-width:1px;
	border-bottom-color:#ccc;
	border-bottom-style:solid;
}

.underline.dotted {
	border-bottom-style:dotted !important;
}

/* Global Colours */
.dark-orange {
	color:#DC7641;
}

.light-orange {
	color:#EEBC5F;
}

.yellow {
	color:#F5E959;
}

.dark-grey {
	color:#828284;
}

.light-grey {
	color:#C7C7C8;
}

/* Global Page Layout */

body {
	background-color:#c7c7c8;
	background-image:url('../images/textures/bg-page.jpg');
}

#overlay {
	display:none;
}

#top {
	width:1024px;
	margin:20px auto 0px auto;
	position:relative;
}

#page {
	width:1024px;
	margin:0px auto 20px auto;
	border:1px #ccc solid;
	background-color:#fff;
	box-shadow:0 0 10px #888;
	position:relative;
	z-index:2;
}

#page .enclosure.page {
	padding:20px;
}

.page-node #main {
	margin-bottom:20px;
}

.front .region-masthead {
	margin-bottom:10px;
}

/* Global Element Settings */
.element-invisible {
	display:none;
}

.container-inline div {
	float:left;
}

.image-float-left {
	float:left;
	margin:3px 10px 0 0;
}

.read-more {
	background-color:#E7A43F;
	color:#fff;
	font-size:0.5em;
	padding:3px;
	border-radius:5px;
	opacity:0.5;
}

.read-more:hover {
	opacity:0.8;
}

.field-name-field-resource-url a:hover, .field-name-field-resource-file a:hover {
	text-decoration:underline;
}

	/* Breadcrumb */
	
	#breadcrumb {
		padding:10px 0 20px 0;
	}

	#breadcrumb ul {
		list-style:none;
	}
	
	#breadcrumb li {
		float:left;
		margin-right:10px;
	}
	
	#breadcrumb .breadcrumb-join {
		margin-left:10px;
	}
	
	#breadcrumb a:hover {
		text-decoration:underline;
	}
	
/*
/*
/* **** Page top content **/
#top ul.menu {
	border-bottom: medium none;
    float: right;
    font-size: 0.923em;
    height: 2.6em;
    margin-right: 10px;
    padding-top: 0;
    text-transform: uppercase;
}

#top ul.menu li {
	float: left;
    list-style: none outside none;
    margin: 0 2px;
	border-radius: 8px 8px 0 0;
	background-color:#fff;
	box-shadow:0 0 8px #888;
}

#top ul.menu li a {
	border-color: #A6A7A2;
    border-style: solid;
    border-width: 0;
    color: #000000;
    display: block;
    float: left;
    font-weight: bold;
    height: 2.6em;
    line-height: 2.6em;
    padding: 0 18px 8px;
}

/*
/*
/* *** Header Region Content **/

#header {
	margin-bottom:10px;
	position:relative;
	z-index:10;
}

.container.utilities {
	width:358px;
	margin:0 0 0 635px;
}

/* Global Search Box */
#block-search-form {
	float:right;
	margin:20px 5px 0 0;
}

#search-block-form .form-text {
	border:2px solid #818385;
	border-radius:10px;
	width:153px;
	height:20px;
	padding:0 10px 0 10px;
}

.form-item-search-block-form {
	width:150px;
	margin:0 10px 0 0;
}

#search-block-form #edit-actions, #search-block-form #edit-actions--2, #edit-actions--3 {
	width:25px;
	margin-left:20px;
}

/* Social Media Icons */
.social-media-icons {
	width:95px;
	position:absolute;
	right:0;
}

.social-media-icons div {
	width:25px;
	margin:0 10px 0 0;
}

.social-media-icons div.last {
	width:25px;
	margin:0;
}

/* Header Navigation Area */
.container.logo {
	float:left;
}

.container.logo.site-logo {
	width:600px;
}

.container.logo.undp {
	width:66px;
	margin:0 10px 0 0;
}

.container.logo.tagline {
	position:relative;
	top:-7px;
}

.container.login {
	width:320px;
	margin:0 0 0 10px;
	float:left;
}

#login-button {
	background-color:#E7A43F;
	height:30px;
	width:349px;
	text-align:center;
	padding:10px 0 0 0;
	margin:5px 0 0 2px;
}

#login-button a {
	color:#fff;
}

/** Blocks **/
.col-1 { /* 1 Column Width */
	width:246px;
}

.col-2 { /* 2 Column Widths */
	width:492px;
}

.col-3 { /* 3 Column Widths */
	width:738px;
}

.col-4 { /* 4 Column Widths */
	width:984px;
}

.block.col-4.colPos-0 .inner-block {
	border-right:0px;
}

.block.colPos-0 .inner-block {
	padding:0 5px;
	margin:0 5px 0 0;
}

.block.colPos-1 .inner-block {
	padding:0 5px;
	margin:0 5px;
}

.block.colPos-2 .inner-block {
	padding:0 5px;
	margin:0 5px;
}

.block.colPos-3 .inner-block {
	padding:0 0 0 5px;
	margin:0 0 0 5px;
}

.block.colPos-4 .inner-block {
	padding:0 0 0 5px;
	margin:0 0 0 5px;
}

.content-block .inner-block.highlight {
	padding:10px;
}

.region-content-blocks .block, .user-content-blocks {
	float:left;
}

.content-block {
	margin-bottom:10px;
}

.content-block .block-heading h2 {
	float:left;
}

.content-block .block-heading div {
	float:right;
}

.content-block .block-content-item, .content.block-content-item {
	border-top:1px #ccc dotted;
	padding-top:5px;
	margin-top:5px;
}

.content-block .content-divider {
	/* border-bottom:1px #ccc dotted; */
	margin:10px 0;
}

.content-block .block-content ul {
	list-style-image:url('../images/widgets/list-bullet-square-small.png');
}

/* Bullet Lists in content blocks */
.content-block .block-content li {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px #ccc dotted;
	padding-left: 18px;
	text-indent: -18px;
}

.content-block .block-content li:last-child {
	border:0px !important;
	margin-bottom:5px;
	padding-bottom:0px;
}

.content-block .block-content li.last {
	border-bottom:0px;
}

.content-block li span, .content-block li a {
	display:block;
}

.content-block li span:first-child, .content-block li a:first-child {
	display:inline !important;
}

.content-block li a {
	text-indent: 0;
}

.content-block li p {
	text-indent: 0; /* Set to 0 */
}

.content-block li span {
	text-index: 0;
}

.content-block li > a:first-child {
	padding-left:0px;
}

.content-block li > span {
	padding-left:13px;
}

.content-block li > span:first-child {
	padding-left:0px !important;
}

/* End Bullet Lists in content blocks */

.content-block .block-content .col-1-indent { /* Indent this content by 1 column width */
	padding-left:236px;
}

.content-block .block-content .col-2-indent { /* Indent this content by 2 column widths */
	padding-left:500px;
}

.content-block .read-more-link {
	margin-top:3px;
}

.highlight {
	background-color:#FCEBD9;
	border:0px !important;
}

.highlight .inner-block {
	padding:10px 10px 10px 10px !important;
}

.highlight .inner-block .block-main-content .inner-block {
	padding:0px !important;
}

.sub-block-content.inline {
	float:left;
	padding:0 0 0 30px;
}

.sub-block-content.inline.first {
	padding:0;
}

.sub-block-content {
	margin-top:10px;
	width:210px !important;
}

.node-type-content-landing-page-type-5 .block-content .node-network-news {
	float:left;
	width:465px;
}

.content-block.col-4 img, .block-content.col-2 img{
	float:left;
	margin-right:10px;
}

.block-content .inner-block .block-content-item {
	margin-right:10px;
}

.block-content .media-image {
	display:none;
}

.link-wrapper {
	margin:10px 0;
}

/* Regions */
.region-content-divider {
	/* border-top:1px dotted #ccc; */
	margin:20px 0;
}


/* Sub-theme Banner */
#banner {
	position:relative;
}

#banner h1 {
	position:absolute;
	top:20px;
	right:0px;
	color:#fff;
	text-shadow:1px 1px 3px #000;
	padding:10px 20px 10px 10px;
}

/* Content and Sidebars */
.no-sidebars #content, .front #content {
	width:984px !important;
	float:none !important;
}

.one-sidebar.sidebar-first #content, .one-sidebar.sidebar-second #content {
	width:689px;
	float:left;
}

.one-sidebar.sidebar-first #content {
	margin-left:10px;
	border-left:1px dotted #eee;
}

.one-sidebar.sidebar-second #content {
	margin-right:10px;
	border-right:1px dotted #eee;
}

.one-sidebar.sidebar-first #content .enclosure {
	padding:0 0 0 10px;
}

.one-sidebar.sidebar-right #content .enclosure {
	padding:0 10px 0 0;
}

.two-sidebars #content {
	width:416px;
	float:left;
}

.two-sidebars #content .enclosure {
	padding:0 10px 0 10px;
}

.region-sidebar-first, .region-sidebar-second {
	width:284px;
	float:left;
}

#sidebar-left .enclosure {
	padding:0 10px 0 0;
	border-right:1px dotted #eee;
}

#sidebar-right .enclosure {
	padding:0 0 0 10px;
	border-left:1px dotted #eee;
}

#sidebar-right, #sidebar-left {
	margin-bottom:20px;
}

/** Footer **/
#footer-horizontal-band {
	background-color:#EEBC5F;
	padding:10px;
}

#footer .left {
	float:left;
}

#footer .right {
	float:right;
}

#footer .horizontal-menu li {
	float:left;
	margin:0 10px 0 10px;
	padding:0;
	list-style:disc;
}

#footer .horizontal-menu li.first {
	list-style:none;
	margin-left:0px;
}

#footer .horizontal-menu li.last {
	margin-right:0px;
}

#footer .horizontal-menu a {
	color:#000;
}

#footer .horizontal-menu a:hover {
	text-decoration:underline;
}

#footer #block-idap-footer-links-footer-links {
	background-color:#EAEAEB;
	padding:20px;
}

#footer .theme-block {
	width:25%;
}

#footer .theme-block .enclosure {
	margin:0 10px 0 0;
	padding:0 10px 0 0;
	border-right:1px #ccc dotted;
}

#footer .theme-block.last .enclosure {
	margin:0;
	padding:0;
	border-right:0;
}

#footer .theme-block ul li {
	list-style:none;
	font-weight:bold;
}

#footer .theme-block ul li p {
	margin-bottom:5px;
}

#footer .theme-block ul li ul li {
	list-style:square;
	list-style-position:inside;
}