.header-bottom {
	width:100%;
	float:left;
}

#main-menu .stripe-top {
	padding:0px 20px 3px 0;
	background-color:#E6A616;
}

#main-menu .stripe-top span {
	padding:0 0 0 20px;
	font-size:11px;
	color:#FCF8C1;
}

#main-menu .stripe-bottom {
	height:5px;
	background-color:#E6A616;
}

#main-menu .items {
	background-color:#FCF8C1;
	height:60px;
	position:relative;
	padding:0 0 0 20px;
}

#main-menu .level-1 {
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
}

#main-menu .level-1 li.level-1-li {
	float:left;
	margin:10px 60px 0px 0;
	height:50px;
	cursor:default;
	font-weight:bold;
}

#main-menu .level-1 li.level-1-li .level-1-background {
	background-color:#FCEAA7;
	padding:10px;
	border-radius:10px;
}

#main-menu .level-1 li.level-1-li .level-1-background:hover {
	background-color:#FCDC94;
}

#main-menu .level-1 li.level-1-li .has-background {
	display:none;
	height:12px;
	width:100%;
	background-image:url('../images/indicator-arrow.png');
	background-repeat:no-repeat;
	background-position:center bottom;
	position:relative;
	top:9px;
	z-index:10;
}

#main-menu .level-2 {
	padding:0px 0px 5px 0px;
	background-color:#E6A616;
	display:none;
	position:absolute;
	top:60px;
	left:0px;
	width:100%;
	list-style:none;
	z-index:0;
	list-style-image:url('../images/ul-bullet-large.png');
}

.level-2-li a {
	text-decoration:none;
	color:#000;
}

.level-2-li a:hover {
	text-decoration:underline;
}

#main-menu .level-2 li.level-2-li {
	float:left;
	height:20px !important;
	padding-top:15px !important;
	padding-bottom:6px !important;
	background:none !important;
	font-weight:normal !important;
	margin:0px 20px 0 40px !important;
	color:#000 !important;
}

#main-menu .level-2 li.level-2.li:hover {
	color:#000;
}

/* Sub-theme Menu */
#sub-theme-menu {
	width:984px;
	background-color:#F5E959;
	position:relative;
	top:-4px;
}

#sub-theme-menu ul {
	list-style:none;
}

#sub-theme-menu li {
	float:left;
	border-right:1px dotted #F5E959;
	margin-right:20px;
	padding:10px;
}

#sub-theme-menu li.theme-root {
	background-color:#E7B451;
	background-image:url('../images/textures/bg-sub-theme-menu.png');
	background-repeat:no-repeat;
	background-position:right;
	padding-right:20px;
	border:0px;
	color:#fff;
}

#sub-theme-menu a {
	color:#000;
}

#sub-theme-menu a:hover {
	text-decoration:underline;
}

/* Thematic Page Menus */
#thematic-section-menu-block {
	background-color:#F4E858;
	margin-bottom:20px;
}

#thematic-section-menu-block a {
	color:#000;
}

#thematic-section-menu-block a:hover {
	text-decoration:underline;
}

#thematic-section-menu-block .enclosure {
	
}

#thematic-section-menu-block li {
	list-style:none;
	float:left;
	padding:20px 20px 20px 20px;
	border-right:1px solid #E6B250;
}

#thematic-section-menu-block li.first {
	background-color:#E6B250;
	padding-left:20px;
	padding-right:40px;
	margin:0px;
	background-image:url('../images/textures/bg-subtheme-menu-arrow.png');
	background-position:right;
	background-repeat:no-repeat;
	border-right:0px;
}