.header-bottom {
	width:100%;
	float:left;
}

#main-menu .stripe-top {
	padding:0px 20px 3px 0;
	background-color:#E6A616;
}

#main-menu .stripe-top span {
	padding:0 0 0 20px;
	font-size:11px;
	color:#FCF8C1;
}

#main-menu .stripe-bottom {
	height:5px;
	background-color:#E6A616;
}

#main-menu .items {
	background-color:#FCF8C1;
	height:60px;
	position:relative;
	padding:0 0 0 20px;
}

#main-menu .level-1 {
	list-style:none;
	margin:0px;
	padding:0px;
	width:100%;
}

#main-menu .level-1 li.level-1-li {
	float:left;
	margin:10px 60px 0px 0;
	height:50px;
	cursor:default;
	font-weight:bold;
}

#main-menu .level-1 li.level-1-li .level-1-background {
	background-color:#FCEAA7;
	padding:10px;
	border-radius:10px;
}

#main-menu .level-1 li.level-1-li .level-1-background:hover {
	background-color:#FCDC94;
}

#main-menu .level-1 li.level-1-li .has-background {
	display:none;
	height:12px;
	width:100%;
	background-image:url('../images/indicator-arrow.png');
	background-repeat:no-repeat;
	background-position:center bottom;
	position:relative;
	top:9px;
	z-index:10;
}

#main-menu .level-2 {
	padding:0px 0px 5px 0px;
	background-color:#E6A616;
	display:none;
	position:absolute;
	top:60px;
	left:0px;
	width:100%;
	list-style:none;
	z-index:0;
	list-style-image:url('../images/ul-bullet-large.png');
}

.level-2-li a {
	text-decoration:none;
	color:#000;
}

.level-2-li a:hover {
	text-decoration:underline;
}

#main-menu .level-2 li.level-2-li {
	float:left;
	height:20px !important;
	padding-top:15px !important;
	padding-bottom:6px !important;
	background:none !important;
	font-weight:normal !important;
	margin:0px 20px 0 40px !important;
	color:#000 !important;
}

#main-menu .level-2 li.level-2.li:hover {
	color:#000;
}