* {
	margin:0;
	padding:0;
}

* { /* Reset fonts */
	font-family: 'Lato', sans-serif;
	font-size:1em;
}

a {
	text-decoration:none;
	color:#E7A43F;
	font-weight:normal;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}