ul.tabs {
    border-bottom: 1px solid #efefef;
    float: left;
    font-size: 0.923em;
    margin-right: 0px;
    padding-top: 0;
	width:98%;
	font-size:1.2em;
}

ul.tabs li {
    list-style: none outside none;
	border-radius: 8px 8px 0 0;
	background-color:#efefef;
	border-bottom:none;
	font-size:1em;
}

ul.primary li a {
	background:none;
    border:0px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}

ul.primary li a:hover {
	background:none;
}

ul.primary li.active a {
	background:none;
    border:0px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}