#header div {
	/* border:0px solid #ccc */
}

#devel {
	background-color:#fff;
	width:984px;
	margin:40px auto 40px auto;
	padding:20px;
}

.highlight .photo-container {
	width:226px;
	float:left;
	margin:5px 10px 0 0;
}

.highlight .photo-teaser .content {
	margin-left:236px;
}